@charset "UTF-8";
/* CSS Document */

	body
	{
		width: 100%;
		margin: 0;
		padding: 0;
		font-family: 'Montserrat', sans-serif;
		font-family: 'Montserrat Alternates', sans-serif;
		background-color: #F3F1F8;
	}
	#menu
	{
		height: 50px;
		display: flex;
		flex-direction: row;
		background-color: #362C85;
		
	}
	header
	{
		font-family: 'Montserrat', sans-serif;
		font-weight: 300;
		color: white;
		background-color: #4538AB;
		height: 450px;	
		
	}
	
	header a
	{
		color: white;
		font-size: 1em;
		padding: 1em;
		text-decoration: none;
	}
	header a:hover
	{
		color: #d1cfe3;
	}

	#logo
	{
		font-size: 28px;
		margin: 10px;
	}
	
	#menu_Tags
	{
		margin-left: 69%;
		margin-top: 1%;
		
	}
	#lnkPortfolio
	{
		border-right: thin solid white;
		border-left: thin solid white;
	}
	.accent
	{
		color: #C5A353;
	}
	
	#imgHead
	{
		padding-left: 5%;
		font-size: 30px;
	}
	
	.hSub
	{
		font-weight: 300;
		margin: 0 63% 0 0;
		text-align: right;
	}
	button
	{
		font-family: 'Montserrat Alternates', sans-serif;
		font-size: 20px;
		border: thin solid #fff;
		
		border-radius: 25px;
		background-color: #362C85;
		color: #fff;
		-webkit-transition-duration: 0.3s;
		transition-duration: 0.3s;
		-webkit-transition-property: transform;
		transition-property: transform;
	}
	button:hover, button:disabled
	{
		border: thin solid #d1cfe3;
		background-color: #231c5a;
		color: #d1cfe3;
		-webkit-transform: scale(0.8);
		transform: scale(0.8);
	}
	#btnInterest
	{
		float: right;
		margin: 2% 63% 2% 0;
		padding: 10px;

	}

	#btnStartGame
	{
		float: right;
		margin: 0.5% 0 0 0;
		padding: 10px 15px;
		cursor: pointer;
	}

	#hTop
	{
		margin-top: 30px;
		margin-bottom: 10px;
		font-weight: 400;
	}
	#hMid
	{
		font-size: 1.2em;
	}
	
	.hoverBox
	{
		background-color: white;
	  	position: absolute;
		width: 1100px;
	  	margin: auto;
		border: thin solid white;
		border-radius: 10px;
		box-shadow: 0px 0px 25px 0px #343434;
		
		justify-content: center;
	}

.modal {
	display: none;
	position: fixed; 
	z-index: 100;
	left: 0;
	top: 0;
	width: 100%; 
	height: 100%; 
	overflow: auto; 
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.4);
  }

  .modModal {
	background-color: #fefefe;
	margin: 15% auto;
	padding: 30px;
	border: 1px solid #888;
	border-radius: 20px;
	width: 80%;
  }

  .modClose {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
  }
  
  .modClose:hover,
  .modClose:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
  }
	#a_Stats
	{
		display: inline-flex;
		height: 100px;
		top: 400px;
		left: 0;
		right: 0;

	}
	.stats
	{
		font-family: 'Montserrat Alternates', sans-serif;
		font-size: 1.5em;
		font-weight: 400;
		color: #9A98C0;
		text-align: center;
		padding: 1em;
		margin: 0;	
	}
	.statsLine
	{
		color: #343434;
		font-family: 'Montserrat Alternates', sans-serif;
		font-weight: 100;
		font-size: 2em;
		text-align: center;
		padding: 1em;
		margin: 0;	
	}
	
	section
	{
		margin: 5%;
		padding:3%;		
		text-align: center;
		color: #606060;

	}
	#aboutSpecialties
	{
		height: 500px;
	}
	section .mainH2 , .mainH3
	{
		font-family: 'Montserrat', sans-serif;
		font-weight: 400;
		margin: 0;
		padding: 0;	
		
	}
	section .mainH2
	{
		font-size: 30pt;
	}
	section .mainH3
	{
		color: #9A98C0;
	}

#specialties
{
	display: inline-flex;
	width: 1000px;
	justify-content: center;

}
#specialties h4
{
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 20px;
}
#specialties section
{
	margin: 2%;
	padding: 2%;
	width: 30%;
}
	
#aboutDiv
{
	background-color: #4538AC;
	height: 600px;
}
#a_about
{
		height: 350px;
	  	left: 0;
	  	right: 0;
		background-color: white;
	  	width: 1100px;
	  	margin: 70px auto auto auto;
		border: thin solid white;
		border-radius: 10px;
		box-shadow: 0px 0px 25px 0px #343434;
		
		justify-content: center;
}
#aboutP
{
	font-size: 14pt;
	margin: 0 5% 5% 5%;
	padding: 2.5% 5% 5% 5%;
}
#sectPortfolio
{
	padding: 0;
	height: 1100px;
	max-height: 1100px;
}
.gallery
{
	display: inline-block;
	width: 100%;
	margin: 5%;
	max-height: 1000px;
	overflow: hidden;
}
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}


.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

#overlay
{
	position: absolute;
	left: 600px;
	top: 1000px;
	margin: auto;
	z-index: 10;
}

#overlay h1
{
	color: black;
	font-size: 36px;
}

.imgBox
{
	object-fit: cover;
	vertical-align: middle;
	margin: 15px 0px;
	height: 200px;
	width: 300px;
	border: thin solid #FFFFFF;
	border-radius: 10px;
	opacity: 0.7;
	background-color: #9A98C0;
}
.porfolioItem
{	
	border: 1px solid #FFFFFF;
	border-radius: 10px;
	object-fit: cover;
	margin: 15px 0px;
	max-height: 300px;
	max-width: 400px;
	height: 300px;
	width: 400px;
	opacity: 0.7;
	background-color: #9A98C0;
}
.imgBox, .porfolioItem:hover
{
	opacity: 1;
}


/* Contact section styles*/

.contactform
{
	height: 900px;
	min-height: 900px;
	width: 100%;
	background-color: #4538AC;
	left: 0;
	right: 0;
}

#sectContact
{
	height: 450px;
	margin-top: -100px;
	left: 10%;
	right: 10%;
	
}
#contactmap
{
   	-moz-box-shadow:    inset 0 0 30px #000000;
   	-webkit-box-shadow: inset 0 0 30px #000000;
  	box-shadow:         inset 0 0 30px #000000;
	background-image: url("images/Screen Shot 2021-04-18 at 8.12.48 PM.png");
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
	min-height: 300px;
	width: 100%;
	height: 250px;
	
}

ul
{
	list-style: none;
	width: 200px;
	
}
li .icon
{
	width: 50px;
	display:block;
  	float:left;
  	margin-right:25px;
}
#c_list li
{
	display: block;
	text-align: justify;
	padding: 5% 0;
	text-decoration: none;
	float:left;
 	margin-right: 20px;
	width: 300px;
  	
	
}
#c_list li a
{
	padding: 5% 0;	
	display: block;
}

.form{
	margin: 50px 550px;
	
}

.contactForm input, textarea
{
	font-family: 'Montserrat Alternates', sans-serif;
	font-size: 12pt;
	width: 500px;
	display: block;
	padding: 0;
	border: thin solid #707070;
	border-radius: 10px;
	background-color: #F3F1F8;
}

input#name{
	padding: 6px;
}
input#email
{
	padding: 6px;
}
textarea#message
{
	padding: 5px;
}
#submit 
{
	margin: 20px 15px 15px 400px;
	padding: 6px;
	width: 100px;
	color: white;
	background-color: black;
}
#submit:hover
{
	border: thin solid #d1cfe3;
	background-color: #000;
	color: #d1cfe3;

}

.contactForm textarea
{
	margin: -1% 0 1% 0;
}

footer
{
	width: 100%;
	bottom: 0;
	justify-content: center;
	color: #9A98C0;
	text-align: center;
	height: 50px;
	background-color: #362C85;
	padding: 0;
	margin: 0;
	
}

footer p
{
	justify-content: center;
	margin: auto;
}





